@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #cc977a;
  color: #fff;
  font-family: 'Roboto Mono', 'sans-sarif';
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}
.counter {
  font-size: 60px;
  margin-top: 10px;
}
i {
  font-size: 3rem;
  cursor: pointer;
  outline: black;
}
.twit:hover {
  color: #1d9bf0;
}
.utube:hover {
  color: #ff0000;
}
.insta:hover {
  color: #7b4bc0;
}
@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
